.uidesign_boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uidesign_left {
    background-image: url('../../assets/development/dev_bg2.png');
    background-repeat: no-repeat;
    width: 500px;
    height: auto;
    border-radius: 30px;
}

.app_box {
    width: 50%;
    height: auto;
    background-color: var(--our_services_box);
    padding: 15px;
    border-radius: 8px;
}

/* responsive 1024 */
@media (max-width: 1024px) {
    .uidesign_boxs {
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .uidesign_app {
        justify-content: center;
        flex-wrap: wrap;
    }


    .uidesign_title h1 {
        font-size: 40px;
        text-align: left;
        width: auto;
    }

    .uidesign_text {
        width: 340px;
        font-size: 18px;
        margin: auto;
        text-align: left;
    }

    .code_lang_box,
    .uidesign_code_lang {
        margin: auto;
        flex-wrap: wrap;
    }
}