.optimization_boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optimization_left {
    background-image: url('../../assets/development/dev_bg2.png');
    background-repeat: no-repeat;
    width: 500px;
    height: auto;
    border-radius: 30px;
    margin-bottom: 10px;
    padding-bottom: 80px;
}

.optimization_box2,
.optimization_box {
    width: 50%;
    height: auto;
    background-color: var(--erpsystems);
    padding: 15px;
    border-radius: 8px;
}

.optimization_box2 {
    width: 30%;
}

/* responsive 1024 */
@media (max-width: 1024px) {
    .optimization_boxs {
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .optimization_app {
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .optimization_title h1 {
        text-align: left;
        margin-top: 80px;
        font-size: 24px;
        width: auto;
    }

    .optimization_text {
        font-size: 15px;
        text-align: left;
        width: 340px;
        
    }

    .optimization_right{
        margin: auto;
        justify-content: center;
        width: auto;
        padding: 20px;
    }
    
    .optimization_box2{
        width: 50%;
    }
}